.mainBg {
    position: relative;
    z-index: 1;
  }
  
  .mainBg:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image: url(../img/bg-signup.jpg);
    z-index: -1;
    opacity: 0.5;
  }
  
  .containerHero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .aboutSec {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }